<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改教学助理信息</title>

    <script th:src="@{/bootstrap/js/jquery-1.11.2.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">

    <script th:src="@{/bootstrap4/bootstrap.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/com/message.css}">
    <link rel="stylesheet" th:href="@{/font/message/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/student/selectAdviser.css}">
</head>
<body>

<div th:replace="~{components/com::admin-topbar}"></div>
<div th:replace="~{components/side-menu::size-menu-bar}"></div>


<div class="container">

    <div class="title" style="width: 100%; align-items: center; margin: 30px 0;">
        <h2 style="display: flex; align-items: center; justify-content: center;">编辑信息</h2>
    </div>

    <form id="edit-form">
        <div class="form-group row" style="margin-bottom: 25px;">
            <input type="hidden" name="id" id="id" th:value="${secretary.id}">
            <label class="col-sm-2 col-form-label">教学助理id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${secretary.id}" disabled>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom: 25px;">
            <label class="col-sm-2 col-form-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="username" th:value="${secretary.username}">
            </div>
        </div>
        <div class="form-group row" style="margin-bottom: 25px;">
            <label class="col-sm-2 col-form-label">密码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="pwd" id="pwd" th:value="${secretary.pwd}">
            </div>
        </div>
        <div class="form-group row" style="margin-bottom: 25px; padding: 0 10px">
            <button type="submit" style="width: 100%;" class="btn btn-primary">提交</button>
        </div>
    </form>

</div>
</body>
<script type="module" th:src="@{/js/admin/adUser/secretary_edit.js}"></script>
</html>