<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择指导老师</title>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">

    <script th:src="@{/bootstrap4/bootstrap.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>


    <link rel="stylesheet" th:href="@{/css/student/selectAdviser.css}">
</head>
<body>

<div th:replace="~{components/com::topbar}"></div>


<div class="container-fluid">
    <div class="title"><h3>指导老师列表</h3></div>

    <div class="row">
        <div class="input-group column" style="display: flex; align-items: center; justify-content: center;width: 500px;margin-left: 15px">
            <select class="form-control" id="semester" >
                <option value="">所有学期</option>
                <option th:each="semester:${semesters}" th:value="${semester.getId}" th:text="${semester.getName}" th:selected="${semesterId} == ${semester.getId}">第一学期</option>
            </select>
<!--            <input type="text" class="form-control input-small" name="userName" id="userName" placeholder="请输入要搜索的用户名" autocomplete="off">-->
            <span class="input-group-addon btn btn-primary" id="seach" style="background-color:#e67e22; border: none">搜索</span>
        </div>
        <div class="input-group col-3 column">

        </div>
<!--        <div class="col-4 column">-->
<!--            <a class="btn btn-primary" href="/toAddScore" style="background-color:#e67e22; border: none">新增成绩</a>-->
<!--        </div>-->

    </div>

    <br>
    <div class="row clearfix">
        <div class="col-md-12 column" th:fragment="div1" th:id="div1" >
            <table class="table align-content-center" id="scoreTable" style="text-align: center">
                <thead class="">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">老师姓名</th>
                    <th scope="col">学期</th>
                    <th scope="col">资料类型</th>
                    <th scope="col">要求</th>
                    <th scope="col">时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="list:${lists}">
                    <tr>
                        <th scope="row" th:text="${list.getId()}"></th>
                        <td th:text="${list.getTeacher().getName()}"></td>
                        <td th:text="${list.getSemester().getName()}"></td>
                        <td th:text="${list.getDocType().getName()}"></td>
                        <td th:text="${list.getReqInfo()}"></td>
                        <td th:text="${list.getAddTime()}"></td>
                        <td>
                            <span class="input-group-addon btn btn-primary select-adviser-btn" th:data-id="${list.getId()}" style="border: none">选择</span>
<!--                            <a class="btn btn-primary" th:href="@{'/toAddScore/'+${1}}" style="background-color:#e67e22; border: none">修改</a>-->
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>

    $('#seach').click(function () {
        var semester = $("#semester").val();
        window.location.href = "/student/selectAdviser?semesterId="+semester;
    });

</script>
</html>