<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学期管理</title>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">

    <script th:src="@{/bootstrap4/bootstrap.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/com/message.css}">
    <link rel="stylesheet" th:href="@{/font/message/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/student/selectAdviser.css}">
</head>
<body>

<div th:replace="~{components/com::topbar}"></div>
<div th:replace="~{components/side-menu::size-menu-bar}"></div>


<div class="container-fluid">
    <div class="title"><h3>学期管理列表</h3></div>

    <div class="row">
        <div class="input-group column" style="display: flex; align-items: center; justify-content: center;width: 500px;margin-left: 15px">
            <input type="text" class="form-control input-small" name="semester" id="semester" placeholder="请输入要搜索的学期" autocomplete="off">
            <span class="input-group-addon btn btn-primary" id="seach" style="background-color:#e67e22; border: none">搜索</span>
        </div>
        <div class="input-group col-3 column">
            <span class="input-group-addon btn btn-primary" id="add" style="background-color:#e67e22; border: none">添加学期</span>
        </div>

    </div>

    <br>
    <div class="row clearfix">
        <div class="col-md-12 column" th:fragment="div1" th:id="div1" >
            <table class="table align-content-center" id="scoreTable" style="text-align: center">
                <thead class="">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">学期</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="semester:${semesters}">
                        <th scope="row" th:text="${semester.getId}"></th>
                        <td th:text="${semester.getName}"></td>
                        <td>
                            <span class="input-group-addon btn btn-primary select-adviser-btn" th:data-id="${semester.id}" style="border: none">删除</span>
                            <a class="btn btn-primary" th:href="@{'/admin/edit/'+${semester.id}}" style="background-color:#e67e22; border: none">修改</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script type="module" th:src="@{/js/admin/adSemester.js}"></script>
</html>