<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情</title>

    <script th:src="@{/bootstrap/js/jquery-1.11.2.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">

    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>


    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div th:replace="~{components/com::topbar}"></div>
<div th:replace="~{components/side-menu::size-menu-bar}"></div>


<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" th:text="${item.getTitle()}"></h1>
            <hr class="my-4">
            <p class="lead" th:utext="${item.getContent()}"></p>
            <small th:text="${#temporals.format(item.getAddTime(), 'yyyy-MM-dd HH:mm:ss')}"></small>
        </div>
    </div>

</div>
</body>
</html>