<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm" th:fragment="topbar">
    <button class="menu-button" id="open-button">Open Menu</button>
    <h5 class="my-0 mr-md-auto ml-5 font-weight-normal">新闻浏览</h5>
    <nav class="my-2 my-md-0 mr-md-3" >
        <a class="p-2" th:href="@{/}" style="color:#e67e22">首页</a>
        <a class="p-2" th:if="${session.uid == null}" th:href="@{/login/student}" style="color:#e67e22">学生</a>
        <a class="p-2" th:if="${session.uid == null}" th:href="@{/login/teacher}" style="color:#e67e22">老师</a>
        <a class="p-2" th:if="${session.uid == null}" th:href="@{/login/secretary}" style="color:#e67e22">教学秘书</a>
        <a class="p-2" th:if="${session.uid == null}" th:href="@{/login/admin}" style="color:#e67e22">管理员</a>
        <a class="p-2" th:if="${session.uid != null}" th:href="@{/login/logout}" style="color:#e67e22">退出</a>
    </nav>
    <div th:replace="~{components/sign::sign}"></div>
</div>


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" th:fragment="admin-topbar">
    <button class="menu-button" id="open-button">Open Menu</button>
    <h5 class="my-0 mr-md-auto ml-5 font-weight-normal">新闻管理</h5>
    <nav class="my-2 my-md-0 mr-md-3" >
        <a class="p-2" href="/" style="color:#e67e22">首页</a>
        <a class="p-2" href="/admin/" style="color:#e67e22">新闻列表</a>
        <a class="p-2" href="/admin/add" style="color:#e67e22">添加</a>
    </nav>
    <div th:replace="~{components/sign::sign}"></div>
</div>


</html>