<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>指导教师确认</title>

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">

    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

</head>
<body>

<div th:replace="~{components/com::topbar}"></div>
<div th:replace="~{components/side-menu::size-menu-bar}"></div>


<div class="container-fluid">

    <div style="border: 1px black solid">
        <div class="templatemo-content-container">
            <div class="templatemo-content-widget white-bg">
                <div class="panel panel-default no-border">
                    <div class="panel-heading border-radius-10 text-center">
                        <h2 >指导教师确认信息&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <form action="/teacher//guidanceAgree" method="get">学期选择：<select name="semesterId" style="background-color:#39ADB4;border:1px solid white;" id="items">
                            <div th:each="semester:${semesters}">
                                <option th:text="${semester.name}" th:value="${semester.id}" th:selected="${semesterId} == ${semester.getId}"></option>
                            </div>
                        </select>
                            <input type="submit" value="查询" id="select"></form></h2>
                    </div>
                    <div class="panel-body text-center">
                        <div class="templatemo-flex-row flex-content-row margin-bottom-30">
                            <div class="col-12">
                                <div id="gauge_div" class="templatemo-chart">
                                    <table class="table table-striped table-bordered templatemo-user-table">
                                        <thead>
                                        <tr>
                                            <td style="width:50%"><a class="white-text templatemo-sort-by">姓名:<span
                                                    class="caret" th:text="${teacher.name}"></span></a></td>
                                            <td style="width:50%"><a class="white-text templatemo-sort-by">信息<span
                                                    class="caret"></span></a></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr style="text-align: center" th:if="${adviserInfo != null}">
                                                <td><a class=" templatemo-sort-by">指导老师要求</a>
                                                    <input type="text" name="content" id="content" th:value="${adviserInfo.reqInfo}">
                                                </td>
                                                <td><input type="submit" value="提交要求" class="btn btn-warning" id="req"></td>
                                        </tr>
                                        <tr style="text-align: center" th:if="${adviserInfo != null}">
                                                <td colspan="2" th:if="${adviserInfo.isAccept} ==0 "><input type="submit" value="确认" class="btn btn-warning" id="confirm">
                                                    <input type="submit" value="取消" class="btn btn-warning" id="unconfirm"></td>
                                            <td colspan="2" th:if="${adviserInfo.isAccept} ==1 "><span>已同意</span></td>
                                            <td colspan="2" th:if="${adviserInfo.isAccept} ==-1 "><span>已拒绝</span></td>
                                        </tr>
                                        <tr style="text-align: center" th:if="${adviserInfo == null}">
                                            <td colspan="2" ><span>当前学期您未被教学秘书指定为指导教师</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" th:value="${adviserInfo.id}" name="adviserId" id="adviserId" th:if="${adviserInfo} != null">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    $('#req').click(function () {
        var content={content:$('#content').val()}
        console.log(content)
        $.ajax({
            url: "/teacher/updateTeacherReq",
            data:content,
            type:"post",
            sync:true,
            success:function(result){
                alert("要求保存成功")
            }
        })
    });

    $('#confirm').click(function (){
        var data = {adviserId : $('#adviserId').val()}
        $.ajax({
            url:"/adviser/agreeAdviser",
            type:"post",
            data,data,
            success:function (result){
                alert("已成为指导教师")
                location.reload();
            }
        })
    })
    $('#unconfirm').click(function (){
        var data = {adviserId : $('#adviserId').val()}
        $.ajax({
            url:"/adviser/disagreeAdviser",
            type:"post",
            data:data,
            success:function (result){
                alert("已拒绝成为指导教师")
                location.reload();
            }
        })
    })

    // $('#select').click(function (){
    //     $('#hidden').val($('#items').val())
    // })
</script>
</html>
