<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>查询统计</title>

  <script th:src="@{/bootstrap/js/jquery-1.11.2.min.js}"></script>
  <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">

  <script th:src="@{/bootstrap4/bootstrap.js}"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

  <link rel="stylesheet" th:href="@{/css/com/message.css}">
  <link rel="stylesheet" th:href="@{/font/message/iconfont.css}">
  <link rel="stylesheet" th:href="@{/css/student/selectAdviser.css}">

</head>

<body>

<div th:replace="~{components/com::admin-topbar}"></div>
<div th:replace="~{components/side-menu::size-menu-bar}"></div>

<div class="container">

  <!--页面核心内容-->
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">教学秘书</a>
      </li>
      <li class="breadcrumb-item active">查询统计</li>
    </ol>
    <hr>

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-body">
          <form  method="post" th:action="@{/queryStatistics/queryStatisticsByCondition}">
            <div class="form-group">
              <div class="col-sm-6">
                <label class="col-form-label" >查看学期:</label>
                <select class="custom-select"  name="semesterId" id="semesterId">
                  <option th:each="semester:${semesters}" th:value="${semester.getId()}" th:text="${semester.getName()}"></option>
                </select>
              </div>
            </div>
            <!--<div class="form-group">
              <div class="col-sm-6">
                <label class="col-form-label" >审核状态:</label>
                <select class="custom-select"  name="documentStatus" id="documentStatus">
&lt;!&ndash;                  <option th:each="document:${documents}" th:value="${document.getId()}" th:text="${document.getStatus()}"></option>&ndash;&gt;
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="col-form-label">教师姓名:</label>
                <select class="custom-select"  name="teacherId" id="teacherId">
                  <option th:each="teacher:${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getName()}"></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="col-form-label">学生姓名:</label>
                <select class="custom-select"  name="studentId" id="studentId">
                  <option th:each="student:${students}" th:value="${student.getId()}" th:text="${student.getName()}"></option>
                </select>
              </div>
            </div>-->
            <div class="form-group">
              <div class="col-sm-6">
                <label class="col-form-label">文档类型:</label>
                <select class="custom-select"  name="documentTypeId" id="documentTypeId">
                  <option th:each="documentType:${documentTypes}" th:value="${documentType.getId()}" th:text="${documentType.getName()}"></option>
                </select>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-publish myCenter" style="width: 100px;">
                查询
              </button>
              <br>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

</html>
