<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>设置老师管理</title>

    <script th:src="@{/bootstrap/js/jquery-1.11.2.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">

    <script th:src="@{/bootstrap4/bootstrap.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/com/message.css}">
    <link rel="stylesheet" th:href="@{/font/message/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/student/selectAdviser.css}">
</head>
<body>

<div th:replace="~{components/com::admin-topbar}"></div>
<div th:replace="~{components/side-menu::size-menu-bar}"></div>


<div class="container">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">教学秘书</a>
            </li>
            <li class="breadcrumb-item active">指导老师管理</li>
        </ol>
        <hr>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> 指导教师管理 </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>担任的学期</th>
                            <th>文档类型</th>
                            <th>教师姓名</th>
                            <th>要求信息</th>
                            <th>是否同意</th>
                            <th>是否删除</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>担任的学期</th>
                            <th>文档类型</th>
                            <th>教师姓名</th>
                            <th>要求信息</th>
                            <th>是否同意</th>
                            <th>是否删除</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="allStuTeaCh:${allStuTeaChAll}">
                            <td th:text="${allStuTeaCh.getSemester().getName()}"></td>
                            <td th:text="${allStuTeaCh.getDocType().getName()}"></td>
                            <td th:text="${allStuTeaCh.getTeacher().getName()}"></td>
                            <td th:text="${allStuTeaCh.getReqInfo()}"></td>
                            <td th:text="${allStuTeaCh.getIsAccept()}"></td>
                            <td th:text="${allStuTeaCh.getIsDel()}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
<!--            <div class="card-footer small text-muted">Updated yesterday at </div>-->
        </div>
    </div>

</div>
</body>
</html>