<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>教学秘书</title>

  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
  <!--自定义css-->
  <link rel="stylesheet" th:href="@{/css/my-center.css}">
  <link rel="stylesheet" th:href="@{/css/com/message.css}">
  <link rel="stylesheet" th:href="@{/font/message/iconfont.css}">
  <!--添加公告必须要的文件-->

  <!--开始-->
  <!--<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">

  <link rel="stylesheet" th:href="@{/kindeditor/themes/default/default.css}"/>
  <script charset="utf-8" th:src="@{/kindeditor/kindeditor-all.js}"></script>
  <script charset="utf-8" th:src="@{/kindeditor/lang/zh-CN.js}"></script>

  <script th:src="@{/js/bootstrap/bootstrap.js}"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
-->
  <!--结束-->

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<!-- 教学秘书导航模块 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" style="z-index:10">
  <a class="navbar-brand" href="index.html">后台管理</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-file"></i>
          <span class="nav-link-text">教学秘书</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseExamplePages">
          <li>
            <a href="#">信息发布</a>
          </li>
          <li>
            <a href="setTeacher.html">设置老师</a>
          </li>
          <li>
            <a href="forgot-password.html">查询统计</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <!-- 导航栏 -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="请输入查询内容...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
          </div>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-user"></i>管理员</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>注销</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content-wrapper">

  <!--页面核心内容-->
  <div class="container-fluid ">

    <!--添加内容-->
    <div class="row main myCenter">
      <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h3><i class="fa fa-fw fa-pencil "></i>&nbsp;拟写内容</h3></div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
        <!--核心内容-->
        <hr>
        <form id="newsAddForm">
          <!--填写文章标题-->
          <div class="form-group">
            <label for="title"><h4>文章标题:</h4></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="填写文章标题......">
          </div>
          <!--填写文章内容-->
          <div class="form-group">
            <label for="description"><h4>拟写文章内容:</h4></label>
            <textarea id="description" name="content" class="form-control" rows="12" cols="10"></textarea>
          </div>
          <div class="form-group">
            <label><h4>是否启用:</h4></label>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="isActive" id="gridRadios1" value="1" checked>
                <label class="form-check-label" for="gridRadios1">
                  启用
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="isActive" id="gridRadios2" value="0">
                <label class="form-check-label" for="gridRadios2">
                  关闭
                </label>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-publish myCenter" style="width: 100px;">发布</button>
            <br>
          </div>
        </form>
      </div>
    </div>

  </div>
  <!--页面注脚-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright &copy; 重庆师范大学.第九小组</small>
      </div>
    </div>
  </footer>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>


  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">确定离开？</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">确定工作完成后，点击注销离开</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
          <a class="btn btn-primary" href="login.html">注销</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <!-- Page level plugin JavaScript-->
  <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
  <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin.min.js}"></script>
  <!-- Custom scripts for this page-->
  <script th:src="@{/js/sb-admin-datatables.min.js}"></script>
  <script th:src="@{/js/sb-admin-charts.min.js}"></script>


  <script type="module" th:src="@{/js/news/addNews.js}"></script>

</div>
</body>

</html>
